.num-404 {
    font-size: 128px!important;
    color: #ab22c2;
    font-weight: 900;
}

.title-404 {
    color: #50065c;
    font-size: 60px!important;
    text-transform: uppercase;
    font-weight: 800;
}

.link-home {
    color: #ab22c2;
    text-transform: uppercase;
    font-weight: 800;
}

@media screen and (max-width: 840px) {
    .num-404 {
        font-size: 70px!important;
    }
    .title-404 {
        font-size: 50px!important;
    }
}

@media screen and (max-width: 740px) {
    .num-404 {
        font-size: 35px!important;
    }
    .title-404 {
        font-size: 25px!important;
    }
}