.login-page {
    padding: 60px;
    display: block;
    align-content: center;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    -webkit-box-shadow: 5px 5px 15px -7px #000000;
    box-shadow: 5px 5px 15px -7px #000000;
}

.img-login {
    width: 350px;
}

.login {
    padding: 105px 50px;
    height: 100%;
    background: linear-gradient(90deg, rgb(171 34 194) 58%, rgb(183 90 199) 100%);
}

.text {
    padding: 0 20px;
}

.login .text h1 {
    margin-bottom: 40px;
    color: #50065c;
    font-size: 26px;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

label.error {
    color: red;
    font-weight: 500;
}

@media screen and (max-width: 840px) {
    .login {
        height: auto;
    }
}

@media screen and (max-width: 740px) {
    .img-login {
        width: 200px;
    }
    .login-page {
        padding: 5px;
    }
}

.menu {
    padding: 20 90px;
}

.logo {
    float: left;
    width: 240px;
}

.link-edit-profile {
    width: 165px;
    float: right;
    text-align: center;
    cursor: pointer;
}

img.edit-profile {
    width: 70px;
    border-radius: 50px;
}

.drop-edit-profile {
    text-align: center;
    width: 170px;
    left: -39px;
    border: solid 1px black;
}

main {
    min-height: 550px;
}

.footer {
    padding: 20px;
    background: #ce92d8;
    text-align: center;
    color: white;
}

tr:nth-child(even) {
    background-color: #ffffff;
}